/*
CSS controls the styling of the page.
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

body {
	font-family: Raleway, sans-serif;
	font-size: 24;
	padding: 40px;
	margin: 50px;
}

h1 {
	text-align: center;
}

h2 {
	text-align: left;
}

.intro-buttons {
	/* min-width: 40%;
	max-width: 60%; */
	border: 2px solid 000;
	border-radius: 20px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 50px;

}

#learn-page {
	border-style: solid;
	border: 2px solid 000;
	border-radius: 20px;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: palevioletred;
}

#listen-page {
	border-style: solid;
	border: 2px solid 000;
	border-radius: 20px;
	padding: 30px;
	align-items: center;
	background-color: palegreen;
}

.back-button {
	border-style: solid;
	border: 2px solid 000;
	border-radius: 20px;
	padding: 15px;
	background-color: lightblue;
	margin-top: 500px;
	margin-bottom: 500px;
}

.organ-image {
	width: 30em
}

.stops-panel {
	display: grid;
	grid-template-columns: repeat(5, 2fr);
	grid-template-rows: repeat(1, 1fr);
	text-align: center;
	margin-bottom: 200px;
	padding: 10%;
}

@media only screen and (max-width: 320px) {
	.stops-panel {
		display: flex;
		flex-direction: column;
		text-align: left;
		margin-bottom: 1000px;
	}

	.stops-panel button {
		box-sizing: border-box;
		border: 2px solid 000;
		border-radius: 20px;
		padding: 20px;
		width: 50%;
		height: 16em;
		font-family: Raleway, sans-serif;
		flex-direction: column;
	}

}

@media only screen and (max-width:768px) {
	.stops-panel {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		text-align: center;
		height: 2em;
		margin-bottom: 300px;
		padding: 5%;
	}
}

.stops-panel button {
	box-sizing: border-box;
	border: 2px solid 000;
	border-radius: 30px;
	padding: 20px;
	width: 60%;
	font-family: Raleway, sans-serif;
}

.P16 {
	background-color: #4EBCFA;
}

.VC {
	background-color: #F0BCEB;
}

.P8 {
	background-color: #BC5BEA;
}

.N2 {
	background-color: #6FF093;
}

.T8 {
	background-color: #FF0000;
}

* {
	box-sizing: border-box;
}

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

/* This uses the same value as --size-xs. */